<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista con HTMX</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>
<body>
    <h2>Lista de elementos</h2>
    <ul class="list">
    {% for category in categories %}
        <li hx-get="/category-children/{{category.id}}" hx-target=".list" hx-trigger="click">{{category.name}}</li>
    {% endfor %}
    </ul>
</body>
</html>