<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista con HTMX</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.13"></script>
    <script src="https://cdn.jsdelivr.net/gh/Emtyloc/json-enc-custom@main/json-enc-custom.js"></script>
</head>
<body>
    <div class="cont-base">
        <h2>Lista de elementos</h2>
        
        <div class="chain">
            <div class="top">
                <h4>Selecciona  una categoría</h4> 
            </div>
            <div class="select-cat">
                <ul class="list">    
                    {% for category in categories %}
                        {% if category.is_parent %}
                        <li hx-get="{{routes.category_children}}/{{category.id}}" hx-target=".chain" hx-trigger="click">{{category.name}}</li>
                        {% else %}
                        <li hx-get="{{routes.next_select}}/{{category.id}}" hx-target=".select-cat" hx-trigger="click">{{category.name}}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            
        </div>
    </div>
    {% include "extra/little.html" %}

    {% include "extra/little.html" %}

    {% include "extra/little.html" %}
</body>
</html>