<div class="cart-total-1">
    <div class="cart-body">
        <div class="cart-main">
            <div class="header-container cont-1">
                <div class="header-container-title">
                    <h1>Cesta</h1>
                </div>
                <div class="header-container-bottom">
                    <div class="checkbox-select">
                        <label class="initial-check">
                            <span class="checkbox1">
                                <span class="checkbox1-circle">
                                </span>
                            </span>
                            <input id="id1" class="checkbox-input" type="checkbox">
                            <span class="checkbox-text">Seleccionar todos los articulos</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="products-container cont-1">
                <div class="card">
                    <div class="check-cont">
                        <label>
                            <span class="checkbox1">
                                <span class="checkbox1-circle">
                                </span>
                            </span>
                            <input class="checkbox-input">
                        </label>
                    </div>
                    <div class="card-content">
                        <div class="left-side">
                            <div class="image-cont"></div>
                        </div>
                        <div class="right-side">
                            <div class="element-data">
                                <div class="title">
                                    <a>Camiseta UFC Super pro, talla grande europea cosa mas texto aleluya dfdffdgfdggfdgfdgfd</a>
                                </div>
                                <div class="variations">XL / Tipo1</div>
                                <div class="Price">
                                    <span>29.99</span>
                                    <span class="currency">€</span>
                                </div>
                                <div class="shop">
                                    <span>Shop xD</span>
                                </div>
                            </div>
                            <div class="quantity-product">
                                <div class="quantity-product-cont">
                                    <div class="minus-cont more-less-cont">
                                        <span class="more-less minus">-</span>
                                    </div>
                                    <input type="number" min="0" max="99" class="input-no-style" value="1" maxlength="2"
                                        oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                    <div class="plus-cont more-less-cont">
                                        <span class="more-less plus">+</span>
                                    </div>
                                </div>
                            </div>
                            <div class="buttons-extra">
                                <div class="trash">
                                    <svg class="icn-svg">
                                        <use href="/assets/svg/icons/full.svg#icon-trash" />
                                    </svg>
                                </div>
                                <div class="favorite">
                                    <svg class="icn-svg">
                                        <use href="/assets/svg/icons/full.svg#corazon" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="cart-side cont-1">
            <div class="total-items">
                <h2 class="title-resume">Resumen</h2>
                <div class="articles-images">
                    <div class="image-resume">
                    </div>
                    <div class="image-resume">
                    </div>
                </div>
                <div class="data-resume">
                    <div class="space total">
                        <span>Total de articulos</span>
                        <div class="money">
                            <span>44.69</span>
                            <span>€</span>
                        </div>
                    </div>
                    <div class="space discounts">
                        <span>Descuento de articulos</span>
                        <div class="money">
                            <span>- 10</span>
                            <span>€</span>
                        </div>
                    </div>
                    <div class="space shipment">
                        <span>Envío</span>
                        <span>Gratis</span>
                    </div>
                    <div class="space final-total">
                        <span>Estimación total</span>
                        <div class="money">
                            <span>34.69</span>
                            <span>€</span>
                        </div>
                    </div>
                    <div class="iva">
                        IVA incluido
                    </div>
                    <div class="button-continue">
                        {% include "components/button_1/button_1.html"%}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
