<div class="cart-total-1" id="cart-total-1" data-update-url="{{cart_total.routes.update}}" data-remove-url="{{cart_total.routes.remove}}">
    <div class="cart-body">
        <div class="cart-main">
            <div class="header-container cont-1">
                <div class="header-container-title">
                    <h1>Cesta</h1>
                </div>
                <div class="header-container-bottom">
                    <div class="checkbox-select">
                        <label class="initial-check">
                            <span class="checkbox1">
                                <span class="checkbox1-circle">
                                </span>
                            </span>
                            <input id="id1" class="checkbox-input select-all-input" type="checkbox">
                            <span class="checkbox-text">Seleccionar todos los articulos</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="products-container cont-1">
                {% if cart_total.items.is_empty() %}
                <div class="empty-cart">
                    <span>Tu cesta está vacía</span>
                </div>
                {% else %}
                {% for item in cart_total.items %}
                <div class="card" data-line-id="{{item.id}}" data-var-id="{{item.product_var_id}}" data-stock="{{item.stock}}">
                    <div class="check-cont">
                        <label>
                            <span class="checkbox1">
                                <span class="checkbox1-circle">
                                </span>
                            </span>
                            <input class="checkbox-input line-check" type="checkbox">
                        </label>
                    </div>
                    <div class="card-content">
                        <div class="left-side">
                            <a href="{{item.url}}">
                                <div class="image-cont" style="background-image:url('{{item.image}}');background-size:cover;background-position:center;"></div>
                            </a>
                        </div>
                        <div class="right-side">
                            <div class="element-data">
                                <div class="title">
                                    <a href="{{item.url}}">{{item.name}}</a>
                                </div>
                                {% if !item.variation_label.is_empty() %}
                                <div class="variations">{{item.variation_label}}</div>
                                {% endif %}
                                <div class="Price">
                                    <span class="line-price">{{item.price}}</span>
                                    <span class="currency">{{item.currency}}</span>
                                </div>
                                {% if !item.store_name.is_empty() %}
                                <div class="shop">
                                    <span>{{item.store_name}}</span>
                                </div>
                                {% endif %}
                            </div>
                            <div class="quantity-product">
                                <div class="quantity-product-cont">
                                    <div class="minus-cont more-less-cont">
                                        <span class="more-less minus">-</span>
                                    </div>
                                    <input type="number" min="0" max="{{item.stock}}" class="input-no-style quantity-input" value="{{item.quantity}}" maxlength="2"
                                        oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                    <div class="plus-cont more-less-cont">
                                        <span class="more-less plus">+</span>
                                    </div>
                                </div>
                            </div>
                            <div class="buttons-extra">
                                <div class="trash">
                                    <svg class="icn-svg">
                                        <use href="/assets/svg/icons/full.svg#icon-trash" />
                                    </svg>
                                </div>
                                <div class="favorite">
                                    <svg class="icn-svg">
                                        <use href="/assets/svg/icons/full.svg#corazon" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}

            </div>
        </div>
        <div class="cart-side cont-1">
            <div class="total-items">
                <h2 class="title-resume">Resumen</h2>
                <div class="articles-images">
                    {% for item in cart_total.items %}
                    <div class="image-resume" style="background-image:url('{{item.image}}');background-size:cover;background-position:center;">
                    </div>
                    {% endfor %}
                </div>
                <div class="data-resume">
                    <div class="space total">
                        <span>Total de articulos ({{cart_total.total_units}})</span>
                        <div class="money">
                            <span>{{cart_total.total}}</span>
                            <span>{{cart_total.currency}}</span>
                        </div>
                    </div>
                    <div class="space discounts">
                        <span>Descuento de articulos</span>
                        <div class="money">
                            <span>- {{cart_total.discount}}</span>
                            <span>{{cart_total.currency}}</span>
                        </div>
                    </div>
                    <div class="space shipment">
                        <span>Envío</span>
                        <span>Gratis</span>
                    </div>
                    <div class="space final-total">
                        <span>Estimación total</span>
                        <div class="money">
                            <span>{{cart_total.final_total}}</span>
                            <span>{{cart_total.currency}}</span>
                        </div>
                    </div>
                    <div class="iva">
                        IVA incluido
                    </div>
                    <div class="button-continue">
                        {% include "components/button_1/button_1.html"%}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
