<div class="product-detail-principal">
    <div class="image-display">
        <div class="container-image-display">
            <div class="all-images-container">
                <div class="all-images">
                    <div class="image-s">
                    </div>
                    <div class="image-s">
                    </div>
                    <div class="image-s">
                    </div>
                    <div class="image-s">
                    </div>
                    <div class="image-s">
                    </div>
                    <div class="image-s">
                    </div>
                </div>
            </div>
            <div class="main-image-container">
                <img class="image-principal" src="https://tfg-vik.s3.eu-north-1.amazonaws.com/1752443059deadpool-funko.jpg" alt="Iphone X">
            </div>
        </div>
    </div>
    <div class="product-data">
        <div class="title">
            <span>2025 Chaquetas de algodón con cremallera de moda Otoño/Invierno, chaquetas cálidas acolchadas de algodón, ropa deportiva informal de invierno acolchada de algodón, soporte</span>
        </div>
        <div class="rating-container">
            <svg aria-hidden="true" focusable="false" class="rating">
                <use href="/assets/svg/icons/stars.svg#stars-full-star" />
                <use href="/assets/svg/icons/stars.svg#stars-full-star" />
                <use href="/assets/svg/icons/stars.svg#stars-full-star" />
                <use href="/assets/svg/icons/stars.svg#stars-full-star" />
                <use href="/assets/svg/icons/stars.svg#stars-half-star" />
            </svg>
        </div>
        <div class="price">
            <span>40.99</span>
            <span>€</span>
        </div>
        <div class="variations">
            <div class="variation">
                <div class="variation-title">
                    <span>Color: </span>
                </div>
                <div class="variation-select">
                    <div class="variation-element">
                        <div class="variation-name-cont">
                            <span>Azul</span>
                        </div>
                    </div>
                    <div class="variation-element">
                        <div class="variation-name-cont">
                            <span>Verde</span>
                        </div>
                    </div>
                    <div class="variation-element">
                        <div class="variation-name-cont">
                            <span>Rojo</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="variation">
                <div class="variation-title">
                    <span>Talla: </span>
                </div>
                <div class="variation-select">
                    <div class="variation-element">
                        <div class="variation-image-cont">
                            <img class="variation-image" src="https://tfg-vik.s3.eu-north-1.amazonaws.com/1752443059deadpool-funko.jpg" alt="Iphone X">
                        </div>
                    </div>
                    <div class="variation-element">
                        <div class="variation-image-cont">
                            <img class="variation-image" src="https://tfg-vik.s3.eu-north-1.amazonaws.com/1752443059deadpool-funko.jpg" alt="Iphone X">
                        </div>
                    </div>
                    <div class="variation-element">
                        <div class="variation-image-cont">
                            <img class="variation-image" src="https://tfg-vik.s3.eu-north-1.amazonaws.com/1752443059deadpool-funko.jpg" alt="Iphone X">
                        </div>
                    </div>
                    <div class="variation-element">
                        <div class="variation-image-cont">
                            <img class="variation-image" src="https://tfg-vik.s3.eu-north-1.amazonaws.com/1752443059deadpool-funko.jpg" alt="Iphone X">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="add-to-cart">
            <div class="quantity-product">
                <div class="quantity-product-cont">
                    <div class="minus-cont more-less-cont">
                        <span class="more-less minus">-</span>
                    </div>
                    <input type="number" min="0" max="99" class="input-no-style" value="1" maxlength="2"
                        oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                    <div class="plus-cont more-less-cont">
                        <span class="more-less plus">+</span>
                    </div>
                </div>
            </div>
            <div class="button-container-add">
                {% include "components/button_1/button_1.html"%}
            </div>
        </div>
    </div>
</div>