body{
    font-family: 'Roboto', sans-serif;
}

button {
  font: inherit;       /* Evita que el botón use una fuente distinta al resto del texto */
  color: inherit;      /* Hereda el color del padre */
  background: none;    /* Quita el gris por defecto */
  border: none;        /* Quita el borde 3D antiguo */
  padding: 0;          /* Quita paddings extraños de navegadores viejos */
  cursor: pointer;     /* Asegura que siempre aparezca la "mano" */
}

button:disabled {
  cursor: not-allowed; /* Feedback visual universal para botones bloqueados */
}

.content-wrapper{
    max-width: 1500px; /* Establece tu ancho máximo deseado */
    margin: 0 auto; /* Centra el contenedor en la pantalla */
     /* Padding para los márgenes laterales en móvil */
}
.full-width-header,
.full-width-footer {
    /* Por defecto, ya ocupan el 100% del ancho del body/viewport */
    width: 100%;
    /* Puedes añadir aquí estilos de fondo, colores, etc. */
}

.disabled{
    display:none;
}

.no-generic-button{
        background: none; 

        /* Quita el borde por defecto (incluyendo el borde 3D en Windows) */
        border: none;

        /* Quita la sombra de texto por defecto */
        text-shadow: none;

        /* Quita el color de texto/fondo por defecto del sistema */
        color: inherit; 

        /* IMPORTANTE: Remueve los estilos nativos de los botones del sistema operativo */
        appearance: none;
        -webkit-appearance: none; /* Para Chrome y Safari */
        -moz-appearance: none;    /* Para Firefox */

        /* Opcional: Para cambiar el cursor y el efecto al hacer clic */
        cursor: pointer;
}

.no-generic-a{
    display: block;
    text-decoration: none;
}

.icn-svg{
  height:1em;
  width:1em;
  fill:currentColor;
}