
<div class="nav1">
  <div class="container-nav">
    <div class="logo">
      <a class="active" href="#home">
        <img src="/assets/logos/national-geographic.png" />
      </a>
    </div>
    <!--
    <div class="login-container">
      <form action="/action_page.php">
        <input type="text" placeholder="Username" name="username">
        <input type="text" placeholder="Password" name="psw">
        <button type="submit">Login</button>
      </form>
    </div>
    -->
    <div class="search-bar">
      <form>
        <div class="search-box-container">
          <input type="text" placeholder="Busca">
          <button class="search-icon">
            <img src="/assets/logos/lupa.png" alt="Buscar">
          </button>
        </div>
      </form>
    </div>
    <div class="right-block">
      <div class="cart">
        <a class="cart-icon">
          <img src="/assets/logos/carrito.png"/>
        </a>
      </div>
      <div class="user-icon img-container">
        <a>
          <img src="/assets/logos/user.png"/>
        </a>
      </div>
    </div>
  </div>
</div> 
