
<!--Aqui poner la varibles-->
<!--Añadir valoración con estrellitas-->

<div class="product-card">
    <!-- <a href="#" class="link"> -->
    <a class="link" href="{{product.url}}">
        <!--La ruta de la imagen dependerá del producto-->
        <img src="{{product.image}}" alt="{{product.name}}">
        <div class="producto-info">
            <h3 class="producto-titulo">
                <span>{{product.name}}</span>
            </h3>
            <p class="producto-precio">{{product.price}}€</p>
            <div class="producto-acciones">
                <button class="boton-agregar-carrito">Añadir al carrito</button>
            </div>
        </div>
    </a>
</div>