.button-1{
    width: calc(100% - 10px);
    height: calc(100% - 14px);
    background-color: green;
    border-radius: 15px;
    font-size: 1em;
    padding: 7px 5px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        width: 100%;
        color:white;
        display: flex;
        justify-content: center;
    }
} 
.button-1:hover {
    background-color: #068817; /* Un color de fondo más oscuro al pasar el ratón */
}
