<h1>Formulario de Producto</h1>
    <form action="/submit-product" method="post">
        {% for elem in specs %}
            <div>
                <label for="{{elem}}">{{elem}}</label>
                <input type="text" id="{{elem}}" name="{{elem}}" required>
            </div>
        {% endfor %}

        <div>
            <label for="id">ID:</label>
            <input type="text" id="id" name="id" required>
        </div>
        <div>
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="brand">Marca:</label>
            <input type="text" id="brand" name="brand" required>
        </div>
        <div>
            <label for="description">Descripción:</label>
            <textarea id="description" name="description"></textarea>
        </div>
        <div>
            <label for="summary">Resumen:</label>
            <textarea id="summary" name="summary"></textarea>
        </div>
        <div class="variations">
        </div>
        <buton hx-get="/addVariations" hx-target=".variations">Add Variation</buton>
        
        <input type="hidden" id="hidden_field" name="hidden_field" value="{{category_id}}">
        <div>
            <button type="submit">Enviar</button>
        </div>
    </form>