<h1>Formulario de Producto</h1>
    <form 
        hx-post="/create-product/{{category_id}}"
        hx-traget=".objetivo"
        hx-ext="json-enc-custom">
        {% for elem in specs %}
            <div>
                <label for="{{elem}}">{{elem}}</label>
                <input type="text" id="{{elem}}" name="specs[{{elem}}]" required>
            </div>
        {% endfor %}

        <div>
            <label for="id">CODE:</label>
            <input type="text" id="id" name="code" required>
        </div>
        <div>
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="brand">Marca:</label>
            <input type="text" id="brand" name="brand" required>
        </div>
        <div>
            <label for="description">Descripción:</label>
            <textarea id="description" name="description"></textarea>
        </div>
        <!--
        <div class="variations">
            <input type="hidden" name="variation" value=null>
        </div>
        <input type="hidden" name="images" value=null>
        --> 
        <div class="variations">
            
            <buton class="btnAddVar" 
                hx-get="/add-variations" 
                hx-target="this" 
                hx-swap="beforebegin">++ ADD VARIATION ++</buton>
        </div>
        
        
    
        <div>
            <button type="submit">Enviar</button>
        </div>
    </form>
    <div class="objetivo"></div>