<h1>{{product.id}}</h1>
<h2>{{product.name}}</h2>
<h2>{{product.variations}}</h2>
<table>
    
    <tbody>
        {% if flag %}
            <tr>
                <!--Aqui hay que hacer el for-->
                {% for key in variationsTitles %}
                <th>{{key}}</th>
                {% endfor %}
                <th>Sku code</th>
            </tr>
            <!--Variaciones tantas filas como variaciones -->
            {% for variation in variations %}
            <tr>
                {% for elem in variation %}
                <td>{{elem}}</td>
                {% endfor %}
                <td><input></td>
            </tr>
            {% endfor %}
        <!--Variaciones -->
        {% else %}
            <tr>
                <th>Producto unico</th>
                <th>Sku code</th>
            </tr>
            <tr>
                <td>{{product.name}}</td>
                <td><input></td>
            </tr>
        {% endif %}
        
    </tbody>
</table>
